@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body::before{
  display: block;
  content: '';
  height: 50px;
}

@media(min-width: 758px){
  .news-input{
    width: 50%;
  }
}